{% extends "base/base.html" %}
{% block titulo %}Pagina Principal{% endblock %}
{% block contenido %}
    <h1>Viandas</h1>

    <p>
        La rotiseria El mejor sabor permite a sus clientes (con usuarios registrados) enviar una solicitud de viandas para poder utilizar este servicio.
        El sistema permite crear solicitudes de viandas y que el usuario pueda obtener un listado de todas las solicitudes realizadas por el mismo.
    </p>
    <h4>
        <strong>
            Alumno: Gustavo Esteban Contreras
            <br>
            MU: 01558
            <br><br>
            URL a repositorio remoto
            <a href="https://github.com/GustavoEContreras/proyecto_parcial2">https://github.com/GustavoEContreras/proyecto_parcial2</a>
        </strong>
    </h4>
{% endblock %}